  .nomePlanta{
    
    color: rgb(80, 80, 80);
    font-family: 'brandon_grotesquemedium';
    text-shadow:2px 2px black;
    margin:5px 0px;
    
  }

  .textPlant{
  
      width: 300px;
      font-size: 20px;
      font-family: 'brandon_grotesquemedium';
      padding: 10px;
  }

.divImg{
    position:absolute;
    top:400px;
    left: 10%;
    background-color: white;
    border-radius: 10px;
}

  @font-face {
    font-family: 'great_vibesregular';
    src: url('../Presets/Fonts/greatvibes-regular-webfont.woff2') format('woff2'),
         url('../Presets/Fonts/greatvibes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('../Presets/Fonts/brandon-grotesque-medium-587bd623e472a-webfont.woff2') format('woff2'),
         url('../Presets/Fonts/brandon-grotesque-medium-587bd623e472a-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

